body {
  font-size: 10px;
  font-family: Helvetica, sans-serif;
}

h1{
  margin: 0;
}

table {
  margin-top: 1em;
}

table,th, td {
  border: 1px solid black;
  padding: 0.3em;
}

thead th {
  border-bottom: 2px solid black;
}

tfoot th {
  border-top: 2px solid black;
}
