body {
  font-size: 10px;
  font-family: Helvetica, sans-serif;
  background-image:url('../assets/campsite-tent-night.jpg');
  background-size: auto;



}

h1{
  margin: 0;
  text-align: center;
  background-color: red;
}

table {
  margin-top: 1em;
}

table,th, td {
  border: 1px solid black;
  padding: 0.3em;
  background-color: green;
  font-size: 16px;
}

thead th {
  border-bottom: 2px solid black;
}

tfoot th {
  border-top: 2px solid black;

}
fieldset{
  color:#ff0066;
  font-size: 14px;

}
button{
  border-radius: 50%;
  background-color: white;
  color: black;
  border: 4px solid #4CAF50;
  font-size: 20px;
  width: 30%
}
