body
{

  animation: pulse 5s infinite;


}

@keyframes pulse {
  0% {
    background-color: #0AA0CF;
  }
  100% {
    background-color: #0DDF0A;
  }
}

h1{
  margin: 0;
  text-align: center;
  background-color: red;
}

table {
  margin-top: 1em;
}

table,th, td {
  border: 1px solid black;
  padding: 0.3em;
  background-color: green;
  font-size: 16px;
}

thead th {
  border-bottom: 2px solid black;
}

tfoot th {
  border-top: 2px solid black;

}
fieldset{
  color:#ff0066;
  font-size: 14px;

}
