body
{
  animation: pulse 3s infinite;
  background-size: 50%;
  background-image: url("../assets/campfire-family.jpg");



}

@keyframes pulse {
  0% {
    background-color: #00aabb;
  }
  100% {
    background-color: 00abcd;
  }
}
h1{
  margin: 0;
  text-align: center;
}
